# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
VENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

predictions.db

Notes.txt
.gitignore